<html>

<head>
    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="static/favicon.svg" type="image/svg+xml">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
    <svg height="100%" width="100%" class="pattern">
        <circle cx="50%" cy="40%" r="50" />
        <circle cx="50%" cy="40%" r="100" />
        <circle cx="50%" cy="40%" r="150" />
        <circle cx="50%" cy="40%" r="200" />
        <circle cx="50%" cy="40%" r="250" />
        <circle cx="50%" cy="40%" r="300" />
        <circle cx="50%" cy="40%" r="350" />
        <circle cx="50%" cy="40%" r="400" />
        <circle cx="50%" cy="40%" r="450" />
        <circle cx="50%" cy="40%" r="500" />
        <circle cx="50%" cy="40%" r="550" />
        <circle cx="50%" cy="40%" r="600" />
        <circle cx="50%" cy="40%" r="650" />
        <circle cx="50%" cy="40%" r="700" />
        <circle cx="50%" cy="40%" r="750" />
        <circle cx="50%" cy="40%" r="800" />
        <circle cx="50%" cy="40%" r="850" />
    </svg>

    <h3><span class="gradient-text2">pinch.to</span></h3>
    <div style="max-width: 800px; margin: auto; margin-top: 10%;">
        <h1 style="font-size: 3.5em; "><span class="gradient-text">Make your URLs this <span
                    class="non-transparent">🤏</span> short</span></h1><br>
        <h5>pinch.to produces the shortest URLs in the world by using the full spectrum of unicode characters.</h5>
        <div id="box">
            <form action="/" method="post">
                <!-- <label for="url_long">Enter your long URL here:</label> -->
                <input placeholder="Paste your long URL here" pattern="{}" required autofocus id="url_long"
                    name="url_long">
                <button id="submit" type="submit">Shorten Now!</button>
            </form>
        </div>


    </div>
    <p class="bottom">
        So far, <b>{}</b> short URLs have been created.
    </p>
</body>

</html>