html {
  font-size: 62.5%;
  line-height: 1.6;
  font-weight: 300;
}


h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 300;
}

h1 {
  line-height: 1.2;
  font-weight: 300;
  font-size: 3.5em;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 1%;

}


.gradient-text {
  background-color: #f3ec78;
  background-image: linear-gradient(110deg, rgba(20, 78, 227, 1) 0%, rgba(235, 86, 142, 1) 18%, rgba(163, 83, 170, 1) 71%, rgba(20, 78, 227, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gradient-text2 {
  background-color: #f3ec78;
  background-image: linear-gradient(70deg, rgba(235, 86, 142, 1) 0%, rgba(20, 78, 227, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gradient-text2 a {
  text-decoration: none;
}

.non-transparent {
  -webkit-text-fill-color: #C9CED6;
  -moz-text-fill-color: #C9CED6;
}

h3 {
  font-size: 2.8rem;
  margin: 0%;
}

.subtitle {
  line-height: 1.2;
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  width: 80%;
  margin: auto;
  font-weight: 300;
  display: block;
}

body {
  font-size: 1.6em;
  font-weight: 300;
  margin: 0%;
  background-color: #0B101B;
  color: #C9CED6;
  padding: 2%;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

form {
  margin-block-end: 0;
}

input#url_long {
  width: 70%;
  height: 28px;
  border-style: none;
  background-color: transparent;
  color: #ffffff;
}

#url_long:focus {
  outline: thin dotted;
  outline-color: #353C4A;
}

#submit {
  width: 28%;
  float: right;
  height: 60px;
  min-width: 60px;
  margin-top: -16px;
  border-style: none;
  border-radius: 30px;
  margin-right: -15px;
  background-color: #144EE3;
  color: #ffffff
}

#box {
  padding: 21px;
  margin: auto;
  width: 70%;
  margin-top: 15%;
  border-color: #353C4A;
  border-radius: 48px;
  border-style: solid;
  background-color: #181E29;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.patterdn {

  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777);
  background-size: 46px 81px;
  background-position: 0 0, 0 0, 23px 40px, 23px 40px, 0 0, 23px 40px;

}


.pattern {
  z-index: -2;
  position: absolute;
}

circle {
  position: absolute;
  fill: transparent;
  stroke: white;
  opacity: 0.05;
  stroke-width: 2;
  stroke-dasharray: 250;
  stroke-dashoffset: 180;
  animation: rotate 10s linear infinite alternate;

}

@keyframes rotate {
  to {
    stroke-dashoffset: 0;
  }
}

.results-head {
  font-size: 1.3em;
}

.header {
  background-color: #181E29;
  padding-top: 15px;
  padding-bottom: 15px;

}

.results {
  margin: auto;
  margin-top: 8em;
  width: fit-content;
  overflow-x: auto;
}

table.results-table {
  font-size: 2rem;
  border: none;
  border-collapse: collapse;
  background-color: rgba(24, 30, 41, 0.22);
  table-layout: fixed;
  width: 80ch;

}

th.short_url {
  border-top-left-radius: 10px;
}

th:last-of-type {
  border-top-right-radius: 10px;
}

tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}

tr.date:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

.new tr:nth-of-type(2) {
  /* position:fixed; */
  /* border: none; */
  animation-name: example;
  animation-duration: 0.5s;
}

@keyframes example {
  from {
    background-color: gray;
  }

  to {
    background-color: transparent;
  }
}

th {
  border-top: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

td {
  padding-left: 1.5em;
  padding-right: 1.5em;

  padding-top: 15px;
  padding-bottom: 15px;
}

img.qr {
  height: 3em;
  width: 3em;
  margin: auto;
  display: block;
}

.favicon {
  height: 16px;
  width: 16px;
  /* margin-top: 3px; */
  /* display: block */
}

input.short_url {
  background-color: #0B101B;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #353C4A;
  border-radius: 5px;
  font-size: inherit;
  width: 15ch;
  user-select: all;
  padding: 3px;
}

.no_linebreak {
  white-space: nowrap;
  max-width: inherit;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

th.short_url {
  white-space: nowrap;
  display: inline-block;
  width: 20ch;
}

td.long_url {
  padding-left: 0px;
}

th.qr {
  width: 4em;

}

td.qr {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

th.clicks {
  width: 8ch;

}

td.clicks {
  padding-right: 0px;
}

th.date {
  width: 14ch;
}

a {
  color: inherit;
}

img.copy {
  width: 1em;
  height: 1em;
  display: inline-block;
  border-radius: 50%;
  background-color: #C9CED6;
  padding: 0.2em;
  vertical-align: middle;
}

.head {
  display: flex;
}

div.menu {
  float: right;
  margin-left: auto;
  margin-right: 0;
}

menu {
  width: fit-content;
  text-align: right;

}

td.menu {
  padding: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
}

div.blog {
  max-width: 650px;
  margin: auto;
  margin-top: 10%;
  background-color: rgba(24, 30, 41, 0.5);
  padding: 2em;
  border-radius: 2em;
  font-size: 1.1em;
}



h1.blog_header {
  line-height: 1.2;
  font-weight: 300;
  font-size: 2em;
  text-align: left;
  margin-top: 0em;
  margin-bottom: 0em;

}