<html>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YBZ6ZP6JY0"></script>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="static/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body style="padding:2%">

    <h3>Welcome at 🤏.to, the shortest URL shortener in the world!<br>
        <small>Pronunciation: <kbd>pinch</kbd><kbd>dot</kbd><kbd>T</kbd><kbd>O</kbd></small>
    </h3>
    <br>
    <p>
        It uses an emoji domain and two Unicode characters to create ultra-short 7-character URLs.
        <br>For comparison: bit.ly creates 14-character URLs.
    </p>
    <br>
    <form action="/" method="post">
        <label for="url_long">Enter your long URL here:</label>
        <input placeholder="Long URL" pattern="{}" required autofocus id="url_long" name="url_long">
        <button type="submit">Shorten</button>
    </form>
    <br>
    <p>
        So far, <b>{}</b> short URLs have been created.
    </p>
    <br>
    <p>
        As you can tell, this is just a very minimal proof-of-concept. Feel free to contribute at <a
            href="https://github.com/vongaisberg/unishort">github.com/vongaisberg/unishort</a>
    </p>
    <p>
        <small>Powered by Rust, Rocket, Diesel and PostgreSQL.</small>
    </p>

</body>

</html>