<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="static/favicon.svg" type="image/svg+xml">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:image" content="https://pinch.to/static/card.png" />
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="https://pinch.to">


    <meta name="twitter:card" content="summary_large_image">
    <script>
        function time() {
            var elems = document.getElementsByClassName("timestamp")
            for (var i = 0; i < elems.length; i++) {
                elems[i].innerText = new Date(elems[i].innerText).toLocaleString(navigator.language);
            }

        }
    </script>
</head>

<body onload="time()">
    <svg height="100%" width="100%" class="pattern">
        <circle cx="50%" cy="40%" r="50" />
        <circle cx="50%" cy="40%" r="100" />
        <circle cx="50%" cy="40%" r="150" />
        <circle cx="50%" cy="40%" r="200" />
        <circle cx="50%" cy="40%" r="250" />
        <circle cx="50%" cy="40%" r="300" />
        <circle cx="50%" cy="40%" r="350" />
        <circle cx="50%" cy="40%" r="400" />
        <circle cx="50%" cy="40%" r="450" />K
        <circle cx="50%" cy="40%" r="500" />
        <circle cx="50%" cy="40%" r="550" />
        <circle cx="50%" cy="40%" r="600" />
        <circle cx="50%" cy="40%" r="650" />
        <circle cx="50%" cy="40%" r="700" />
        <circle cx="50%" cy="40%" r="750" />
        <circle cx="50%" cy="40%" r="800" />
        <circle cx="50%" cy="40%" r="850" />
    </svg>
    <div class="head">
        <h3><span class="gradient-text2"><a href="https://pinch.to">pinch.to</a></span></h3>
        {{!-- <div class="menu">
            <table class="menu">
                <tr>
                    <td class="menu">About</td>
                    <td class="menu">Blog</td>
                </tr>
            </table>
        </div> --}}
    </div>
    {{~> page}}
</body>

</html>